*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

    /********************** HEADER */

header{
    background-color: #080B12;
    height: 90px;
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    position: fixed;
    margin-left: 230px;
}

header > button{
    border: 1px solid white;
    border-radius: 20px 20px;
    color: white;
    background-color: #080B12;
    padding: 10px 30px;
    margin-right: 20px;
}

header > button:hover{
    cursor: pointer;
}

    /********************** COLONNA NERA */

.black-column{
    float: left;
    width: 230px;
    height: calc(100% - 90px);
    background-color: black;
    color: #717171;
    position: fixed;
}

    /****** LOGO COLONNA NERA ******/

.black-column > div:nth-of-type(1){
    height: 90px;
}

.black-column > div:nth-of-type(1) > img{
  padding: 15px;
}

.black-column > div:nth-of-type(1) > img:hover{
    cursor: pointer;
  }

  /****** MENU COLONNA NERA ******/

.menu{
    padding: 10px;
}

.menu > p{
    padding: 5px;
    height: 2rem;
    line-height: 2rem;
}

.menu > p:hover{
    cursor: pointer;
    color: white;
}

.menu > p > img{
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 3px;
}

.menu > p > span{
    vertical-align: middle;
}

    /****** PLAYLIST COLONNA NERA ******/

.playlist{

}

.playlist > h2{
    color: white;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.playlist > p{
    padding-left: 20px;
    margin-bottom: 10px;
}

.playlist > p:hover{
    cursor: pointer;
    color: white;
}

.fa-solid.fa-square-plus{
    font-size: 3rem;
    line-height: 3rem;
    vertical-align: middle;
}

.playlist > ul{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 115px;
}

.playlist > ul > li{
    padding-bottom: 10px;
    font-size: 1rem;
}

.playlist > ul > li:hover{
    cursor: pointer;
    color: white;
}


    /****** INSTALLA  E ACCOUNT COLONNA NERA ******/

.installa{

}

.installa > p{
    padding-left: 20px;
    margin-bottom: 10px;
}

.installa > p:hover{
    color: white;
    cursor: pointer;
}

.installa > p > img{
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    border-color: #717171;
}

.account > p{
    color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.account > p:hover{
    cursor: pointer;
}

.account > p > img{
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #717171;
    color: white;
}

    /********************** PARTE CENTRALE */

.central{
    background-color: #141922;
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    float: right;
    color: white;
    overflow: auto;
    padding-top: 90px;
}

.central > nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
    color: #717171;
    font-size: small;
}

    /***** PRIMA GRIGLIA CENTRALE */

.first-grill{
    display: flex;
    gap: 15px;
    margin: 0px 30px;
}

.title-first-grill{
    margin: 15px 30px;
}

.first-grill > div{
    text-align: center;
}

.first-grill > div > img{
    width: 100%;
}

.first-grill > div > h3{
    margin: 5px 0px;
    font-size: small;
}

.first-grill > div > p{
    margin: 5px 0px;
    color: #717171;
    font-size: small;
}

    /***** SECONDA GRIGLIA CENTRALE */

.second-grill{
    display: flex;
    gap: 15px;
    margin: 20px 30px;
}

.title-second-grill{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.p-second-grill{
    font-size: small;
    color: #717171;
    margin: 10px 30px;
}

.second-grill > div{
    text-align: center;
}

.second-grill > div > img{
    width: 210px;
}

.second-grill > div > h3{
    margin: 5px 0px;
    font-size: small;
}

    /***** TERZA GRIGLIA CENTRALE */

.third-grill{
    display: flex;
    gap: 15px;
    margin: 20px 30px;
}

.third-grill > div > img{
    width: 210px;
    border-radius: 50%;
}

.third-grill > div{
    text-align: center;
}

.third-grill > div > h3{
    margin: 5px 0px;
    font-size: small;
}

    /********************** FOOTER */

 footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
 }

 /***** PARTE SINISTRA FOOTER */

.canzone{
    width: 230px;
    display: flex;
    align-items: center;
}

 .img-canzone{

 }

 .img-canzone > img{
    width: 100px;
    margin: auto;
    padding: 15px 20px;
 }

 .artista-canzone{
    display: block;
 }

 .artista-canzone > p:nth-of-type(1){
    font-weight: bold;
    color: white;
 }

 .artista-canzone > p:nth-of-type(2){
    color: #717171;
    margin-top: 7px;
 }

 .heart-canzone{
    margin-left: 10px;
    color: #717171;
 }

 .heart-canzone > .fa-regular.fa-heart{
    margin-right: 5px;
 }

 .heart-canzone > .fa-regular.fa-heart:hover{
  color: white;
  cursor: pointer;
  }

.heart-canzone > .fa-regular.fa-folder:hover{
    color: white;
    cursor: pointer;
}

    /***** PARTE CENTRALE FOOTER */

.play-song{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-play-song{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    height: 50%;
    align-items: center;
    vertical-align: middle;
    gap: 20px;
}

.bottom-play-song{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.minuti{
    color: white;
}

.barra{
    position: relative;
    height: 4px;
    width: 100%;
    background-color: #717171;
    border-radius: 4px;
}

.barra:hover div{
    background-color: green;
}

.barra:hover > div:after{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: " ";
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

.barra > div{
 position: absolute;
 height: 4px;
 width: 15%;
 background-color: #C1C1C1;
 border-radius: 4px;
}

    /***** PARTE DESTRA FOOTER */

.volume{
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.font-volume{
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container-barra-destra{
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.barra-destra{
    position: relative;
    height: 4px;
    width: 100%;
    background-color: #717171;
    border-radius: 4px;
}

.barra-destra:hover div{
    background-color: green;
}

.barra-destra:hover > div:after{
    content: " ";
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.barra-destra > div{
    position: absolute;
    height: 4px;
    width: 85%;
    background-color: #C1C1C1;
    border-radius: 4px;
}
